<?xml version="1.0" encoding="UTF-8"?>
<config>
 <object id="1" instances_count="1">
  <metadata type="object" key="name" value="cube.stl"/>
  <volume firstid="0" lastid="11">
   <metadata type="volume" key="name" value="cube.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="cube.stl"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="20"/>
   <metadata type="volume" key="source_offset_y" value="10"/>
   <metadata type="volume" key="source_offset_z" value="2.5"/>
  </volume>
 </object>
 <object id="2" instances_count="1">
  <metadata type="object" key="name" value="text.stl"/>
  <metadata type="object" key="extruder" value="2"/>
  <metadata type="object" key="small_perimeter_speed" value="10"/>
  <volume firstid="0" lastid="1091">
   <metadata type="volume" key="name" value="text.stl"/>
   <metadata type="volume" key="volume_type" value="ModelPart"/>
   <metadata type="volume" key="matrix" value="1 0 0 -9.5367431640625e-07 0 1 0 2.384185791015625e-07 0 0 1 0 0 0 0 1"/>
   <metadata type="volume" key="source_file" value="text.stl"/>
   <metadata type="volume" key="source_object_id" value="0"/>
   <metadata type="volume" key="source_volume_id" value="0"/>
   <metadata type="volume" key="source_offset_x" value="19.185450255870819"/>
   <metadata type="volume" key="source_offset_y" value="4.8000043407082558"/>
   <metadata type="volume" key="source_offset_z" value="0.5"/>
  </volume>
 </object>
</config>
